.profile {
    border: 1px solid orange;
    border-radius: 16px;
    background-color: grey;
    width: 332px;
    padding: 20px;
}

.avatar {
    border-radius: 100%;
    background-color: orange;
}

.stats {
    display: flex;
    justify-content: center;
    font-size: 18px;
justify-content: space-between;
margin: 0 20px;}

.name {
    font-size: 22px;
    font-weight: bold;
}

.tag {
    font-size: 20px;
}

.location {
    font-size: 20px;
}

.value {
    font-weight: bold;
}