.item {
  padding: 20px;
  font-size: 22px;
}

.name {
  margin: 0;
}

.status {
  margin: 10px;
  font-size: 18px;
}

.status.isOnline {
  color: rgb(15, 214, 15);
}

.status.isOffline {
  color: orange;
}
